.main {
  margin: 120px 20px;
}

.container-main {
  max-width: 1000px;
  border-radius: 40px;
  width: 90vw;
  background-color: #222222;
  margin: auto auto;
}


@media screen and (min-width: 1024px) {
  .container-main {
    max-width: 1200px;
  }
}

.navegation-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-item-img {
  border-radius: 60px;
  margin:20px;
  max-width: 290px;
}


